<template>
  <router-view></router-view>
</template>

<script setup>
import Factory from './components/Factories.vue'
</script>

<!-- Import Google Font -->
<style>
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

</style>

<style scoped>
body, #app {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}

#app {
  width: 100vw; /* Set width to 100% of the viewport width */
  height: 100vh; /* Set height to 100% of the viewport height */
  display: flex; /* Use flexbox to align items */
  flex-direction: column; /* Align items vertically */
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.title {
  font-size: 5rem; /* Increase font size */
  margin: 0;
  font-family: 'Lobster', cursive; /* Apply fancy font */
  color: red; /* Set text color to red */
  padding: 10px 20px; /* Add padding around the text */
  /*border: 2px solid red; /* Add a red border */
  background-color: white; /* Set background color to white */
  border-radius: 10px; /* Optional: Add rounded corners */
}

main {
  flex: 1; /* Allow main content to grow and fill remaining space */
  overflow-y: auto; /* Enable scrolling if content overflows vertically */
}

.golden-dark {
  background-color: gold; /* Set background color to gold */
}

.golden-bg {
  background-color: gold; /* Set background color to gold */
}
</style>
