<template>
  <div class="add-chocolate-container">
    <h2>Dodaj novu čokoladu</h2>
    <form @submit.prevent="addChocolate">
      <div>
        <label for="naziv">Naziv:</label>
        <input type="text" v-model="chocolate.naziv" required />
      </div>
      <div>
        <label for="cena">Cena:</label>
        <input type="number" v-model="chocolate.cena" required />
      </div>
      <div>
        <label for="vrsta">Vrsta:</label>
        <input type="text" v-model="chocolate.vrsta" required />
      </div>
      <div>
        <label for="tip">Tip:</label>
        <input type="text" v-model="chocolate.tip" required />
      </div>
      <div>
        <label for="gramaza">Gramaža:</label>
        <input type="number" v-model="chocolate.gramaza" required />
      </div>
      <div>
        <label for="opis">Opis:</label>
        <textarea v-model="chocolate.opis" required></textarea>
      </div>
      <div>
        <label for="slika">Slika:</label>
        <input type="file" id="slika" @change="handleFileUpload">
        <img v-if="chocolate.slika" :src="chocolate.slika" alt="Slika cokolade" class="logo-preview">
      </div>
      <button type="submit">Dodaj čokoladu</button>
    </form>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { useRoute, useRouter } from 'vue-router';

export default {
  setup() {
    const route = useRoute();
    const router = useRouter();
    const chocolate = ref({
      naziv: '',
      cena: 0,
      fabrika: route.params.factoryName,
      vrsta: '',
      tip: '',
      gramaza: 0,
      opis: '',
      slika: '',
      id: "0",
      kolicina: 0,
      status: "Nema na stanju"
    });

    onMounted(async () => {
      try {
        // Fetch all chocolates
        const response = await axios.get('http://localhost:3000/api/chocolates');
        // Set id as the number of chocolates + 1
        chocolate.value.id = (response.data.length + 1).toString();
      } catch (error) {
        console.error('Error fetching chocolates:', error);
      }
    });

    const handleFileUpload = async (event) => {
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append('image', file);

      try {
        const response = await axios.post('http://localhost:3000/api/upload', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        });
        chocolate.value.slika = response.data.imageUrl;
      } catch (error) {
        console.error('Error uploading image:', error);
      }
    };

    const addChocolate = async () => {
      try {
        const newChocolate = { ...chocolate.value };
        newChocolate.obrisano = false;
        const response = await axios.post('http://localhost:3000/api/chocolates', newChocolate);

        // Fetch the chocolate factory object
        const factoryId = route.params.factoryId;
        const factoryResponse = await axios.get(`http://localhost:3000/api/chocolateFactories/${factoryId}`);
        const chocolateFactory = factoryResponse.data;

        // Add the new chocolate to the factory's list of chocolates
        chocolateFactory.cokolade.push(response.data);
        
        // Update the chocolate factory
        await axios.put(`http://localhost:3000/api/chocolateFactories/${factoryId}`, chocolateFactory);

        // Redirect back to the factory details page
        router.push(`/factory/${factoryId}`);
      } catch (error) {
        console.error('Error adding chocolate:', error);
      }
    };

    return {
      chocolate,
      addChocolate,
      handleFileUpload
    };
  }
};
</script>

<style scoped>
.add-chocolate-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: gold;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
  height: auto;
  width: 300vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Lobster;
  font-size: 50px;
}

form div {
  margin-bottom: 10px;
}

.logo-preview{
  height: 50%;
  width: 50%;
  margin-top: 10px
  
}
label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 3px solid #ccc;
  border-color: darkred; /* Dodaj crveni border */
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}
</style>
