<template>
  <div v-if="currentUser" class="container mt-5">
    <h2 class="mb-4">Vaše Korpe</h2>
    <button @click="createPurchase" class="btn btn-success mb-3">Kupi</button>
    <div v-if="carts.length">
      <div v-for="cart in carts" :key="cart.id" class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Ukupna Cena: {{ cart.cena }} RSD</h5>
          <div>
            <h6>Čokolade:</h6>
            <div v-for="(chocolate, index) in cart.cokolade" :key="chocolate.id" class="list-group-item">
              <div class="chocolate-item">
                <img :src="chocolate.slika" alt="Chocolate Image" class="img-thumbnail">
                <div class="chocolate-details">
                  <p class="mb-1"><strong>Naziv:</strong> {{ chocolate.naziv }}</p>
                  <p class="mb-1"><strong>Gramaža:</strong> {{ chocolate.gramaza }}g</p>
                  <p class="mb-1"><strong>Tip:</strong> {{ chocolate.tip }}</p>
                  <p class="mb-1"><strong>Vrsta:</strong> {{ chocolate.vrsta }}</p>
                  <p class="mb-1"><strong>Cena:</strong> {{ chocolate.cena }} RSD</p>
                  <p class="mb-1"><strong>Količina:</strong> {{ chocolate.kolicina }}</p>
                  <button @click="removeChocolate(cart.id, index)" class="btn btn-danger btn-sm">Izbaci</button>
                  <button @click="showQuantityInput(index)" class="btn btn-primary btn-sm">Promeni količinu</button>
                  <div v-if="quantityInputs[index]" class="mt-2">
                    <input type="number" v-model.number="chocolate.newQuantity" min="1" :max="chocolate.maxQuantity" class="form-control mb-2">
                    <button @click="updateQuantity(cart.id, index)" class="btn btn-success btn-sm">Potvrdi</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <p>Nema dostupnih korpi.</p>
    </div>
  </div>
  <div v-else>
    <p>Molimo vas da se prijavite.</p>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { useRoute, useRouter } from 'vue-router';


const currentUser = JSON.parse(localStorage.getItem('currentUser'));
const route = useRoute();
const router = useRouter();


const carts = ref([]);
const quantityInputs = ref([]);

onMounted(async () => {
  if (currentUser) {
    try {
      const response = await axios.get(`http://localhost:3000/api/carts/username/${currentUser.korisnickoIme}`);
      carts.value = response.data.filter(cart => !cart.obrisano);
      carts.value.forEach(() => quantityInputs.value.push(false));
    } catch (error) {
      console.error('Error fetching carts:', error);
    }
  }
});

const removeChocolate = async (cartId, chocolateIndex) => {
  const cart = carts.value.find(cart => cart.id === cartId);
  cart.cokolade.splice(chocolateIndex, 1);
  await updateCart(cart);
};

const showQuantityInput = (index) => {
  quantityInputs.value[index] = true;
};

const updateQuantity = async (cartId, chocolateIndex) => {
  const cart = carts.value.find(cart => cart.id === cartId);
  const chocolate = cart.cokolade[chocolateIndex];

  try {
    const response = await axios.get(`http://localhost:3000/api/chocolates/${chocolate.id}`);
    const fetchedChocolate = response.data;

    if (chocolate.newQuantity > fetchedChocolate.kolicina) {
      alert(`Ne možete uneti količinu veću od ${fetchedChocolate.kolicina}`);
      return;
    }else if (chocolate.newQuantity < 1){
      alert(`Unesite pozitivan broj!`);
      return;
    }

    chocolate.kolicina = chocolate.newQuantity;
    await updateCart(cart);

    chocolate.newQuantity = '';
    quantityInputs.value[chocolateIndex] = false;
  } catch (error) {
    console.error('Error updating quantity:', error);
  }
};

const updateCart = async (cart) => {
  cart.cena = cart.cokolade.reduce((total, chocolate) => total + (chocolate.cena * chocolate.kolicina), 0);
  try {
    await axios.put(`http://localhost:3000/api/carts/${cart.id}`, cart);
  } catch (error) {
    console.error('Error updating cart:', error);
  }
};

const createPurchase = async () => {
  const currentDate = new Date().toISOString();
  const factoryName = route.params.factoryName;
  let cenaKupovine = carts.value.reduce((total, cart) => total + cart.cena, 0);

  // Provera tipa kupca i primena popusta
  if (currentUser.tipKupca === "Srebrni") {
    cenaKupovine *= 0.95; // Smanjenje cene za 5%
  } else if (currentUser.tipKupca === "Zlatni") {
    cenaKupovine *= 0.90; // Smanjenje cene za 10%
  }
  const purchase = {
    cokolade: carts.value.flatMap(cart => cart.cokolade),
    kupac: currentUser.korisnickoIme,
    datum_vreme: currentDate, // Trenutni datum i vreme
    fabrika: factoryName,
    status: 'Obrada',
    obrisano: false,
    cena: cenaKupovine // Postavljanje cene kao sumu cena svih čokolada u korpi
  };

  try {
    // Kreiranje kupovine
    const response = await axios.post('http://localhost:3000/api/purchases', purchase);
    console.log('Purchase created:', response.data);

    // Računanje broja bodova
    const bodovi = Math.round(purchase.cena / 1000 * 133);
    currentUser.brojSakupljenihBodova = (currentUser.brojSakupljenihBodova || 0) + bodovi;

    if (currentUser.brojSakupljenihBodova > 3000 && currentUser.brojSakupljenihBodova < 4000) {
      currentUser.tipKupca = "Srebrni";
    } else if (currentUser.brojSakupljenihBodova >= 4000) {
      currentUser.tipKupca = "Zlatni";
    }

    const response2 = await axios.put(`http://localhost:3000/api/users/${currentUser.korisnickoIme}`, currentUser);

    localStorage.setItem('currentUser', JSON.stringify(currentUser));

    // Brisanje korpe
    const cartToDelete = carts.value[0]; // Pretpostavka da postoji samo jedna korpa, ili promeni ovo da se poklapa sa id-jem korpe koju zelis da obrises
    cartToDelete.obrisano = true
    await axios.put(`http://localhost:3000/api/carts/${cartToDelete.id}`, cartToDelete);

    // Redirekcija na stranicu svih kupovina
    router.push({ name: 'customer-purchases' });

  } catch (error) {
    console.error('Error creating purchase:', error);
  }
};

</script>

<style scoped>
.container {
  background-color: #ffc107;
  padding: 20px;
  border-radius: 10px;
  color: white;
  border: 2px solid white;
}

.card {
  background-color: white;
  color: black;
  border: 2px solid darkred;
}

.card-title {
  color: darkred;
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Lobster', sans-serif;
  color: white;
  text-shadow: 2px 2px 3px darkred, -2px -2px 3px darkred, 2px -2px 3px darkred, -2px 2px 3px darkred;
}

.chocolate-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.img-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  border: 2px solid darkred;
}

.chocolate-details {
  font-size: 1.2rem;
}

.chocolate-details p {
  margin: 0;
  color: darkred;
}

.btn-sm {
  margin-right: 5px;
}
</style>
