<template>
  <div class="comments-container">
    <h2>Comments for {{ factoryName }}</h2>
    <div v-if="comments.length === 0" class="alert alert-info" role="alert">
      No comments found.
    </div>
    <div v-else>
      <div v-for="comment in filteredComments" :key="comment.id" class="comment-card">
        <p><strong>Korisnik: {{ comment.kupac }}</strong></p>
        <p>Tekst: {{ comment.tekst }}</p>
        <p>Ocena: {{ comment.ocena }}</p>
        <p>Status: {{ comment.status }}</p>

        <!-- Manager actions for comments in process -->
        <div v-if="currentUser && currentUser.uloga === 'Menadzer' && comment.status === 'Obrada'" class="manager-actions">
          <button @click="approveComment(comment)" class="btn btn-success mt-2">Odobri</button>
          <button @click="rejectComment(comment)" class="btn btn-danger mt-2">Odbij</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { useRoute } from 'vue-router';

const route = useRoute();
const comments = ref([]);
const factoryName = ref(route.params.factoryName);
const currentUser = JSON.parse(localStorage.getItem('currentUser'));

// Filtered comments based on user role and status
const filteredComments = ref([]);

onMounted(async () => {
  await fetchComments();
});

const fetchComments = async () => {
  try {
    const response = await axios.get(`http://localhost:3000/api/comments/${factoryName.value}`);
    comments.value = response.data;
    filterComments();
  } catch (error) {
    console.error('Error fetching comments:', error);
  }
};

const filterComments = () => {
  if (!currentUser || currentUser.uloga === 'Kupac') {
    filteredComments.value = comments.value.filter(comment => comment.status === 'Odobreno');
  } else { // Menadzer or Administrator
    filteredComments.value = comments.value;
  }
};

const approveComment = async (comment) => {
  try {
    const response = await axios.put(`http://localhost:3000/api/comments/${comment.id}`, {
      status: 'Odobreno'
    });
    console.log('Comment approved:', response.data);
    await fetchComments(); // Refresh comments after approval
  } catch (error) {
    console.error('Error approving comment:', error);
  }
};

const rejectComment = async (comment) => {
  try {
    const response = await axios.put(`http://localhost:3000/api/comments/${comment.id}`, {
      status: 'Odbijeno'
    });
    console.log('Comment rejected:', response.data);
    await fetchComments(); // Refresh comments after rejection
  } catch (error) {
    console.error('Error rejecting comment:', error);
  }
};
</script>

<style scoped>
.comments-container {
  padding: 20px;
  background-color: gold; /* Match background color of FactoryDetails.vue */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
  color: white; /* Text color */
  height: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lobster', sans-serif; /* Change font to Lobster */
  font-size: 30px;
  text-shadow: 1px 1px 3px darkred;
}

.comment-card {
  background-color: white;
  border: 2px solid black; /* Add border */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.comment-card p {
  margin: 5px 0;
  color: darkred; /* Text color */
}

.manager-actions {
  margin-top: 10px;
}
</style>
