<template>
  <div class="add-chocolate-container">
    <h2>Promeni čokoladu</h2>
    <form @submit.prevent="editChocolate">
      <div>
        <label for="naziv">Naziv:</label>
        <input type="text" v-model="editedChocolate.naziv" required />
      </div>
      <div>
        <label for="cena">Cena:</label>
        <input type="number" v-model="editedChocolate.cena" required />
      </div>
      <div>
        <label for="vrsta">Vrsta:</label>
        <input type="text" v-model="editedChocolate.vrsta" required />
      </div>
      <div>
        <label for="tip">Tip:</label>
        <input type="text" v-model="editedChocolate.tip" required />
      </div>
      <div>
        <label for="gramaza">Gramaža:</label>
        <input type="number" v-model="editedChocolate.gramaza" required />
      </div>
      <div>
        <label for="opis">Opis:</label>
        <textarea v-model="editedChocolate.opis" required></textarea>
      </div>
      <div>
        <label for="slika">Slika URL:</label>
        <input type="file" id="slika" @change="handleFileUpload">
        <img v-if="editedChocolate.slika" :src="editedChocolate.slika" alt="Slika cokolade" class="logo-preview">
      </div>
      <button type="submit">Promeni čokoladu</button>
    </form>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { useRoute, useRouter } from 'vue-router';

export default {
  setup() {
    const route = useRoute();
    const router = useRouter();
    const editedChocolate = ref({
      naziv: '',
      cena: 0,
      fabrika: route.params.factoryName,
      vrsta: '',
      tip: '',
      gramaza: 0,
      opis: '',
      slika: '',
      id: '0',
      kolicina: 0,
      status: 'Nema na stanju'
    });

    onMounted(async () => {
      try {
        const chocolateId = route.params.chocolateId;
        const response = await axios.get(`http://localhost:3000/api/chocolates/${chocolateId}`);
        // Set the values of editedChocolate based on the fetched data
        editedChocolate.value = response.data;
      } catch (error) {
        console.error('Error fetching chocolate:', error);
      }
    });

    const editChocolate = async () => {
      try {
        // Update the chocolate details
        await axios.put(`http://localhost:3000/api/chocolates/${editedChocolate.value.id}`, editedChocolate.value);

        // Fetch the factory details
        const factoryResponse = await axios.get(`http://localhost:3000/api/chocolateFactories/${route.params.factoryId}`);
        const factory = factoryResponse.data;

        // Find and update the chocolate in the factory's list of chocolates
        const chocolateIndex = factory.cokolade.findIndex(chocolate => chocolate.id === editedChocolate.value.id);
        if (chocolateIndex !== -1) {
          factory.cokolade[chocolateIndex] = editedChocolate.value;
        }

        // Update the factory details
        await axios.put(`http://localhost:3000/api/chocolateFactories/${route.params.factoryId}`, factory);

        // Redirect back to the factory details page
        router.push(`/factory/${route.params.factoryId}`);
      } catch (error) {
        console.error('Error editing chocolate:', error);
      }
    };
    const handleFileUpload = async (event) => {
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append('image', file);

      try {
        const response = await axios.post('http://localhost:3000/api/upload', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        });
        chocolate.value.slika = response.data.imageUrl;
      } catch (error) {
        console.error('Error uploading image:', error);
      }
    };

    return {
      editedChocolate,
      editChocolate,
      handleFileUpload
    };
  }
};
</script>

<style scoped>
.add-chocolate-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: gold;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
  height: auto;
  width: 300vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Lobster;
  font-size: 50px;
}

.logo-preview{
  height: 50%;
  width: 50%;
  margin-top: 10px
  
}
form div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 3px solid #ccc;
  border-color: darkred; /* Dodaj crveni border */
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}
</style>
