<template>
  <div>
    <div class="container mt-3 mx-3">
      <div class="row">
        <div class="filter-options">
          <label for="sort" class="me-2">Sortiraj po:</label>
          <select id="sort" v-model="sortBy" class="form-select me-2">
            <option value="">Nema sortiranja</option>
            <option value="naziv">Naziv</option>
            <option value="lokacija">Lokacija</option>
            <option value="ocena">Ocena</option>
          </select>
          <label for="order" class="me-2">Redosled:</label>
          <select id="order" v-model="sortOrder" class="form-select">
            <option value="asc">Rastući</option>
            <option value="desc">Opadajući</option>
          </select>
        </div>
        <div class="col-md-4 navbar d-flex justify-content-end align-items-center">
          <input type="text" v-model.trim="searchQuery" class="form-control me-2" placeholder="Pretraži fabrike">
          <button @click="searchFactories" class="red-button">Pretraži</button>
          <button @click="resetFilters" class="red-button">Resetuj filtere</button>
        </div>
        <div class="col-md-12 filter-options d-flex align-items-center mt-3">
          <label for="chocolateType" class="me-2">Vrsta čokolade:</label>
          <select id="chocolateType" v-model="selectedChocolateType" class="form-select me-2">
            <option value="">Sve vrste</option>
            <option v-for="type in chocolateTypes" :key="type">{{ type }}</option>
          </select>
          <label for="chocolateCategory" class="me-2">Tip čokolade:</label>
          <select id="chocolateCategory" v-model="selectedChocolateCategory" class="form-select me-2">
            <option value="">Svi tipovi</option>
            <option v-for="category in chocolateCategories" :key="category">{{ category }}</option>
          </select>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="openFactoriesOnly" v-model="openFactoriesOnly">
            <label class="form-check-label" for="openFactoriesOnly">Samo otvorene fabrike</label>
          </div>
        </div>
      </div>
    </div>
    <div class="center-cards mt-3">
      <div v-if="filteredFactories.length === 0" class="alert alert-info" role="alert">
        Nema pronađenih fabrika.
      </div>
      <div v-else>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div v-for="factory in filteredFactories" :key="factory.id" :class="['col', { 'selected-factory': isSelectedFactory(factory) }]">
            <!-- Kartica fabrike -->
            <div class="card h-100 shadow bg-light factory-card">
              <div class="card-img-container">
                <img :src="factory.logo" class="card-img-top" alt="Factory Logo">
              </div>
              <div class="card-body">
                <div class="factory-info">
                  <h5 class="card-title">{{ factory.naziv }}</h5>
                  <div>
                    <p class="card-text">Adresa: {{ factory.lokacija.adresa }}</p>
                    <p class="card-text">Ocena: {{ factory.ocena }}</p>
                  </div>
                  <!-- Prikaz dugmeta 'Dodaj radnika' samo za menadžere -->
                  <button v-if="isManager && factory.naziv === currentUser.fabrikaCokoladeObjekat" @click="addWorker(factory.naziv)" class="add-worker-button">
                    Dodaj radnika
                  </button>
                </div>
                <router-link :to="'/factory/' + factory.id"  class="router-link-bottom-right">Vidi detalje</router-link>
                <button @click="goToComments(factory.naziv)" class="comments-button">Komentari</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import axios from 'axios';
import { ref, onMounted, computed, defineProps } from 'vue';
import { useRouter } from 'vue-router';

// Primanje propsa currentUser
const props = defineProps({
  currentUser: {
    type: Object,
    default: () => ({})  // Prazan objekat kao podrazumevana vrednost
  }
});

const factories = ref([]);
const router = useRouter();
const searchQuery = ref('');
const sortBy = ref('');
const sortOrder = ref('asc');
const selectedChocolateType = ref('');
const selectedChocolateCategory = ref('');
const openFactoriesOnly = ref(true); // Prikazi samo otvorene fabrike pri prvom ucitavanju

const isManager = computed(() => props.currentUser.uloga === 'Menadzer');
const isWorker = computed(() => props.currentUser.uloga === 'Radnik');

onMounted(async () => {
  try {
    const response = await axios.get('http://localhost:3000/api/chocolateFactories');
    factories.value = response.data;
    searchFactories();
    resetFilters();
  } catch (error) {
    console.error('Error fetching factories:', error);
  }
});

const filteredFactories = ref([]);

// Podaci za dropdowns
const chocolateTypes = computed(() => {
  const types = new Set();
  factories.value.forEach(factory => {
    factory.cokolade.forEach(chocolate => {
      types.add(chocolate.vrsta);
    });
  });
  return Array.from(types);
});
const chocolateCategories = computed(() => {
  const categories = new Set();
  factories.value.forEach(factory => {
    factory.cokolade.forEach(chocolate => {
      categories.add(chocolate.tip);
    });
  });
  return Array.from(categories);
});

const searchFactories = () => {
  // Filtriranje fabrika prema upitu
  if (!searchQuery.value.trim()) {
    filteredFactories.value = factories.value;
  } else {
    const query = searchQuery.value.trim().toLowerCase();
    filteredFactories.value = factories.value.filter(factory =>
      factory.naziv.toLowerCase().includes(query) ||
      factory.lokacija.adresa.toLowerCase().includes(query) ||
      matchRating(factory.ocena.toString(), query) ||
      factory.cokolade.some(cokolada =>
        cokolada.naziv.toLowerCase().includes(query) ||
        cokolada.vrsta.toLowerCase().includes(query) ||
        cokolada.tip.toLowerCase().includes(query)
      )
    );
  }

  // Dodatno filtriranje po vrsti i tipu čokolade i statusu
  filteredFactories.value = filteredFactories.value.filter(factory => {
    if (selectedChocolateType.value && factory.cokolade.every(chocolate => chocolate.vrsta !== selectedChocolateType.value)) {
      return false;
    }
    if (selectedChocolateCategory.value && factory.cokolade.every(chocolate => chocolate.tip !== selectedChocolateCategory.value)) {
      return false;
    }
    if (openFactoriesOnly.value && factory.status !== 'Radi') {
      return false;
    }
    return true;
  });

  // Sortiranje rezultata
  sortFactories();
};
const resetFilters = () => {
  selectedChocolateType.value = '';
  selectedChocolateCategory.value = '';
  openFactoriesOnly.value = false; // Vrati na prikaz samo otvorenih fabrika
  searchQuery.value = '';
  searchFactories();
};

const sortFactories = () => {
  filteredFactories.value.sort((a, b) => {
    if (!sortBy.value) return 0; // Ako nije izabrano sortiranje, nemoj sortirati
    const propA = getProperty(a, sortBy.value);
    const propB = getProperty(b, sortBy.value);
    if (propA < propB) return sortOrder.value === 'asc' ? -1 : 1;
    if (propA > propB) return sortOrder.value === 'asc' ? 1 : -1;
    return 0;
  });
};

function getProperty(obj, prop) {
  const props = prop.split('.');
  return props.reduce((o, p) => o[p], obj);
}

function matchRating(rating, query) {
  if (query.includes('.')) {
    return rating === query;
  } else {
    if (rating.startsWith(query)) {
      if (rating.length === query.length) {
        return true;
      } else if (rating.length > query.length && rating[query.length] === '.') {
        return true;
      } else {
        return false;
      }
    } else {
      return false;
    }
  }
}

const isSelectedFactory = (factory) => {
  return router.currentRoute.value.params.id === factory.id;
};

const addWorker = (factoryName) => {
  // Implementacija dodavanja radnika
  console.log('Dodavanje radnika za fabriku:', factoryName);
  router.push({name: 'register-worker', params: {factoryName: factoryName}})
};

const goToComments = (factoryName) => {
  // Navigacija na stranicu sa komentarima za fabriku
  router.push({name: 'comments', params: {factoryName: factoryName}});
};
</script>

<style scoped>
.card {
  position: relative;
  transition: transform 0.3s ease;
  background-color: #6F4E37;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.filter-options{
  margin-left: 30px;
  font-size: 20px;
  color: white; 
}
.red-button {
    font-size: 1rem;
    padding: 5px 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    margin-right: 5px;
  }
  
  .red-button:hover {
    background-color: darkred;
  }
.card:hover {
  transform: translateY(-5px);
}

.card-img-container {
  flex: 0 1 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  flex: 1;
  padding: 2px;
  max-height: 100px;
  overflow: hidden;
}

.factory-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-title {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.card-text {
  font-size: 1rem;
  color: white;
  margin: 0;
}

.list-group-item {
  border: none;
}

.alert {
  margin-top: 1rem;
}

.center-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.factory-card {
  width: 750px;
  height: 450px;
  margin: 10px;
}

.factory-card.selected-factory {
  border: 5px solid red; /* Red border for selected factory */
}

.factory-info h5 {
  margin-bottom: 0;
}

.factory-info .btn {
  margin-top: 10px;
}

.router-link-bottom-right,
.comments-button,
.add-worker-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.add-worker-button{
  left: auto;
  right: 10px;
  padding: 5px 10px;
  margin-right: 90px;
  font-size: 14px;
  color: white;
  background-color: red;
  font-family: 'Lobster', cursive;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.add-worker-button:hover{
  background-color: darkred;
}
.comments-button {
  left: auto;
  right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: red;
  font-family: 'Lobster', cursive;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments-button:hover {
  background-color: darkred;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar input[type="text"] {
  margin-right: 10px;
}

.navbar button {
  margin-left: 10px;
}
</style>
