<template>
  <div v-if="factoryDetails" class="factory-details-container">
    <div class="header">
      <h2 class="factory-name">{{ factoryDetails.naziv }}</h2>
      <button v-if="isCustomer" class="view-cart-button" @click="createCart">Pregled korpe</button>
    </div>
    
    <div class="factory-image">
      <img :src="factoryDetails.logo" alt="Factory Logo" class="fixed-image-logo">
    </div>
    
    <div class="border">
      <div class="factory-details">
        <p class="detail">Radno vreme: {{ factoryDetails.radnoVreme }}</p>
        <p v-if="factoryDetails.status" class="detail">Status: {{ factoryDetails.status }}</p>
        <p v-if="factoryDetails.ocena" class="detail">Ocena: {{ factoryDetails.ocena }}</p>
        <p v-if="factoryDetails.lokacija" class="detail">Lokacija: {{ factoryDetails.lokacija.adresa }}</p>

        <button v-if="isManager" @click="goToAddChocolatePage" class="add-button">Dodaj čokoladu</button>
        <!-- Add more details here as needed -->
      </div>
      
      <div v-for="chocolate in availableChocolates" :key="chocolate.id" class="chocolate-card">
        <div class="card-details">
          <h3 class="chocolate-name">{{ chocolate.naziv }}</h3>
          <div class="chocolate-image">
            <img :src="chocolate.slika" alt="No image" class="fixed-image">
          </div>
          <p>{{ chocolate.opis }}</p>
          <p>Cena: {{ chocolate.cena }}</p>
          <p>Vrsta: {{ chocolate.vrsta }}</p>
          <p>Tip: {{ chocolate.tip }}</p>
          <p>Gramaža: {{ chocolate.gramaza }}</p>
          <p>Količina: {{ chocolate.kolicina }}</p>

          <button v-if="isManager" class="remove-button" @click="confirmRemove(chocolate.id)">Obriši</button>
          <button v-if="isManager" class="edit-button" @click="goToEditChocolatePage(chocolate.id)">Promeni</button>

          <button v-if="shouldShowEditQuantityButton(chocolate)" @click="editQuantity(chocolate.id)" class="edit-quantity-button">Izmeni količinu</button>
          <div v-if="isEditingQuantity === chocolate.id">
            <input type="number" v-model="newQuantity" placeholder="Unesite količinu">
            <button @click="updateQuantity(chocolate.id)" class="save-quantity-button">Sačuvaj</button>
          </div>

          <button v-if="isCustomer" @click="showQuantityInput(chocolate)" class="add-to-cart-button">Dodaj u korpu</button>
          <div v-if="isAddingToCart === chocolate.id">
            <input type="number" v-model="cartQuantity" placeholder="Unesite količinu">
            <button @click="confirmAddToCart(chocolate)" class="confirm-add-to-cart-button">Potvrdi</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    Loading...
  </div>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import axios from 'axios';
import { useRoute, useRouter } from 'vue-router';

const route = useRoute();
const router = useRouter();
const factoryDetails = ref(null);
const chocolate = ref(null);
const currentUser = JSON.parse(localStorage.getItem('currentUser')) || {};

// Ako currentUser nije definisan, postavi ga na prazan objekat
const userRole = currentUser ? currentUser.uloga : null;
const userFactory = currentUser ? currentUser.fabrikaCokoladeObjekat : null;

onMounted(async () => {
  try {
    const factoryId = route.params.id;
    const response = await axios.get(`http://localhost:3000/api/chocolateFactories/${factoryId}`);
    factoryDetails.value = response.data;
  } catch (error) {
    console.error('Error fetching factory details:', error);
  }
});

const isManager = computed(() => userRole === 'Menadzer');
const isWorker = computed(() => userRole === 'Radnik');
const isCustomer = computed(() => userRole === 'Kupac');

const isEditingQuantity = ref(null);
const newQuantity = ref('');

const goToAddChocolatePage = () => {
  const factoryId = route.params.id;
  router.push({ name: 'add-chocolate', params: { factoryName: factoryDetails.value.naziv, factoryId } });
};

const goToEditChocolatePage = (chocolateId) => {
  const factoryId = route.params.id;
  router.push({ name: 'edit-chocolate', params: { factoryName: factoryDetails.value.naziv, factoryId, chocolateId } });
};

const removeChocolate = async (chocolateId) => {
  try {
    const response =await axios.get(`http://localhost:3000/api/chocolates/${chocolateId}`);
    chocolate.value = response.data;
    chocolate.value.obrisano = true;
    await axios.put(`http://localhost:3000/api/chocolates/${chocolateId}`, chocolate.value);
    factoryDetails.value.cokolade = factoryDetails.value.cokolade.filter(chocolate => chocolate.id !== chocolateId);
    await axios.put(`http://localhost:3000/api/chocolateFactories/${factoryDetails.value.id}`, factoryDetails.value);
  } catch (error) {
    console.error('Error removing chocolate:', error);
  }
};

const confirmRemove = (chocolateId) => {
  const confirmed = window.confirm("Are you sure you want to remove this chocolate?");
  if (confirmed) {
    removeChocolate(chocolateId);
  }
};

const editQuantity = (chocolateId) => {
  isEditingQuantity.value = chocolateId;
};

const updateQuantity = async (chocolateId) => {
  try {
    const chocolate = factoryDetails.value.cokolade.find(choco => choco.id === chocolateId);
    if (chocolate) {
      chocolate.kolicina = newQuantity.value;
      await axios.put(`http://localhost:3000/api/chocolates/${chocolateId}`, { kolicina: newQuantity.value });
      await axios.put(`http://localhost:3000/api/chocolateFactories/${factoryDetails.value.id}`, factoryDetails.value);
      isEditingQuantity.value = null; // Reset the editing state
      newQuantity.value = ''; // Reset the input field
    }
  } catch (error) {
    console.error('Error updating chocolate quantity:', error);
  }
};

const shouldShowEditQuantityButton = (chocolate) => {
  return isWorker.value && userFactory === factoryDetails.value.naziv;
};

const cart = ref({
  cokolade: [],
  korisnik: currentUser.korisnickoIme || '',
  cena: 0
});

const isAddingToCart = ref(null);
const cartQuantity = ref('');

const showQuantityInput = (chocolate) => {
  isAddingToCart.value = chocolate.id;
};

const confirmAddToCart = (chocolate) => {
  if (cartQuantity.value > 0) {
    const availableQuantity = chocolate.kolicina;

    if (cartQuantity.value <= availableQuantity) {
      const existingChocolate = cart.value.cokolade.find(choco => choco.id === chocolate.id);
      if (existingChocolate) {
        existingChocolate.kolicina += parseInt(cartQuantity.value);
      } else {
        cart.value.cokolade.push({ ...chocolate, kolicina: parseInt(cartQuantity.value) });
      }
      cart.value.cena += chocolate.cena * parseInt(cartQuantity.value);
      cart.value.obrisano = false;
      isAddingToCart.value = null;
      cartQuantity.value = '';
    } else {
      alert(`Nije moguće dodati ${cartQuantity.value} komada. Dostupna količina je ${availableQuantity}.`);
    }
  } else {
    alert("Količina mora biti pozitivan broj.");
  }
};


const createCart = async () => {
  if (isCustomer.value) {
    try {
      await axios.post('http://localhost:3000/api/carts', cart.value);
      alert('Korpa je uspešno kreirana!');
      cart.value = { cokolade: [], korisnik: currentUser.korisnickoIme, cena: 0 }; // Isprazni korpu
      router.push({ name: 'view-carts', params: { factoryName: factoryDetails.value.naziv } });

    } catch (error) {
      console.error('Error creating cart:', error);
    }
  } else {
    alert('Samo kupci mogu kreirati korpu.');
  }
};

const availableChocolates = computed(() => {
  if (isCustomer.value) {
    return factoryDetails.value.cokolade.filter(chocolate => chocolate.status === 'Ima na stanju' && chocolate.obrisano === false);
  } else {
    return factoryDetails.value.cokolade.filter(chocolate => chocolate.obrisano === false);
  }
});
</script>

<style scoped>
.factory-details-container {
  background-color: gold;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200vh; /* Full viewport width */
  height: auto; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Text color */
  border: 2px solid white; /* White border */
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.factory-name, .factory-details{
  font-size: 70px;
  font-family: 'Lobster', sans-serif; /* Change font to Lobster */
  color: white;
  margin-bottom: 10px; /* Reduced bottom margin */
  text-shadow: 2px 2px 3px darkred, -2px -2px 3px darkred, 2px -2px 3px darkred, -2px 2px 3px darkred; /* Add outline using multiple shadows */
}

.view-cart-button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Arial', sans-serif; /* Add this line to change the font */
}

.fixed-image-logo {
  width: 200vh;
  height: 100vh;
  object-fit: contain;
  border: 2px solid white;
  margin-bottom: 10px; /* Reduced bottom margin */
}

.border {
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
}



.detail {
  font-size: 20px;
  color: white;
  margin-bottom: 5px; /* Reduced bottom margin */
  font-family: 'Arial', sans-serif; /* Add this line to change the font */
}

.chocolate-card {
  margin-bottom: 20px; /* Reduced bottom margin */
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid darkred; /* Add red border */
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chocolate-name {
  font-size: 24px;
  color: darkred;
  margin-bottom: 10px; /* Reduced bottom margin */
  font-family: 'Arial', sans-serif; /* Add this line to change the font */
}

.chocolate-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; /* Reduced bottom margin */
  border: 2px solid darkred; /* Add red border */
}

.fixed-image {
  width: 300px; /* Set the desired fixed width */
  height: 300px; /* Set the desired fixed height */
  object-fit: contain;
  border: 2px solid darkred; /* Add red border */
}

button {
  padding: 10px 20px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Arial', sans-serif; /* Add this line to change the font */
}

.add-button,
.remove-button,
.edit-button,
.edit-quantity-button,
.add-to-cart-button,
.save-quantity-button,
.confirm-add-to-cart-button {
  margin-top: 10px; /* Reduced top margin */
}

button:hover {
  background-color: red; /* Lighter shade of dark red on hover */
}

input[type="number"] {
  width: 60px; /* Adjust the width as needed */
  padding: 5px;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
</style>
