<template>
  <div class="login-container">
    <h2>Prijavi se</h2>
    <form @submit.prevent="handleLogin">
      <div class="form-group">
        <label for="username">Korisničko ime:</label>
        <input type="text" v-model="username" class="form-control" id="username" required />
      </div>
      <div class="form-group">
        <label for="password">Lozinka:</label>
        <input type="password" v-model="password" class="form-control" id="password" required />
      </div>
      <button type="submit" class="btn btn-primary mt-3">Potvrdi</button>
    </form>
    <div v-if="error" class="alert alert-danger mt-3">{{ error }}</div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';

const username = ref('');
const password = ref('');
const error = ref('');
const router = useRouter();

const handleLogin = async () => {
  try {
    const response = await axios.post('http://localhost:3000/api/users/login', {
      username: username.value,
      password: password.value
    });

    const { token, user } = response.data;
    localStorage.setItem('token', token);
    localStorage.setItem('currentUser', JSON.stringify(user)); // Sačuvajte informacije o prijavljenom korisniku

    if (user.uloga === 'Administrator') {
      router.push('/admin-dashboard');
    } else if (user.uloga === 'Menadzer') {
      router.push('/manager-dashboard');
    } else if (user.uloga === 'Radnik') {
      router.push('/worker-dashboard')
    } else if (user.uloga === 'Kupac') {
      router.push('/customer-dashboard')
    }
  } catch (err) {
    error.value = err.response ? err.response.data.message : 'Došlo je do greške';
  }
};

</script>

<style scoped>
.login-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: gold;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
  height: auto;
  width: 300vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Lobster;
  font-size: 50px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 3px solid #ccc;
  border-color: darkred;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}

.alert {
  margin-top: 20px;
  background-color: darkred;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
</style>
