<template>
  <div class="purchases-container">
    <h2 class="page-title">Pregled kupovina</h2>
    
    <!-- Pretraga -->
    <div class="filter-options">
      <input v-if="currentUser.uloga === 'Kupac'" v-model="searchText" type="text" class="form-control" placeholder="Pretraži...">
      <label for="minPrice">Min cena:</label>
      <input v-model.number="minPrice" type="number" id="minPrice" class="form-control" placeholder="Min cena">
      <label for="maxPrice">Max cena:</label>
      <input v-model.number="maxPrice" type="number" id="maxPrice" class="form-control" placeholder="Max cena">
      <label for="startDate">Datum od:</label>
      <input v-model="startDate" type="date" id="startDate" class="form-control">
      <label for="endDate">Datum do:</label>
      <input v-model="endDate" type="date" id="endDate" class="form-control">
      <div class="button-container">
        <button @click="searchPurchases" class="red-button">Pretraži</button>
        <button @click="resetFilters" class="red-button">Resetuj filter</button>
      </div>
    </div>
    
    <!-- Sort Controls -->
    <div class="filter-options">
      <label for="sort-select">Sortiraj po:</label>
      <select id="sort-select" v-model="sortBy" @change="sortPurchases">
        <option v-if="currentUser.uloga === 'Kupac'" value="fabrika_asc">Naziv fabrike (rastuće)</option>
        <option v-if="currentUser.uloga === 'Kupac'" value="fabrika_desc">Naziv fabrike (opadajuće)</option>
        <option value="cena_asc">Cena (rastuće)</option>
        <option value="cena_desc">Cena (opadajuće)</option>
        <option value="datum_asc">Datum (rastuće)</option>
        <option value="datum_desc">Datum (opadajuće)</option>
      </select>
    </div>
    
    <!-- Lista kupovina -->
    <div v-if="filteredPurchases.length > 0" class="purchase-list">
      <div v-for="purchase in filteredPurchases" :key="purchase.id" class="purchase-card">
        <div class="card-body">
          <h3 class="card-title">{{ purchase.fabrika }}</h3>
          <p class="card-text">Datum kupovine: {{ formatDate(purchase.datum_vreme) }}</p>
          <p class="card-text">Iznos: {{ purchase.cena }} RSD</p>
          <p class="card-text">Status: {{ purchase.status }}</p>
          
          <!-- Dugmad za menadžera -->
          <div v-if="currentUser.uloga === 'Menadzer' && purchase.status === 'Obrada'" class="manager-buttons">
            <button @click="updatePurchaseStatus(purchase.id, 'Odobreno')" class="red-button">Odobri</button>
            <button @click="updatePurchaseStatus(purchase.id, 'Odbijeno')" class="red-button">Odbij</button>
          </div>

          <!-- Dugme za ostavljanje komentara za kupovine sa statusom "Odobreno" -->
          <div v-if="currentUser.uloga === 'Kupac' && purchase.status === 'Odobreno'" class="comment-actions">
            <button @click="leaveComment(purchase)" class="red-button">Ostavi komentar</button>
          </div>
          <!-- Forma za ostavljanje komentara -->
          <div v-if="showCommentForm === purchase.id" class="comment-form">
            <label for="commentText">Vaš komentar:</label>
            <textarea id="commentText" v-model="commentText" class="form-control" rows="4"></textarea>
            <label for="commentRating">Ocena (od 1 do 5):</label>
            <input type="number" id="commentRating" v-model.number="commentRating" class="form-control" min="1" max="5">
            <button @click="submitComment(purchase)" :disabled="!commentText || !commentRating" class="red-button">Potvrdi komentar</button>
          </div>

            <!-- Dugme za odustajanje od kupovine -->
          <div v-if="purchase.status === 'Obrada' && currentUser.uloga==='Kupac'" class="cancel-purchase">
            <button @click="cancelPurchase(purchase.id)" class="red-button">Odustani od kupovine</button>
          </div>

          <div class="chocolates-container">
            <div v-for="chocolate in purchase.cokolade" :key="chocolate.id" class="chocolate-card">
              <div class="card-details">
                <h3 class="chocolate-name">{{ chocolate.naziv }}</h3>
                <div class="chocolate-image">
                  <img :src="chocolate.slika" alt="Chocolate Image" class="fixed-image">
                </div>
                <p class="chocolate-description">{{ chocolate.opis }}</p>
                <p><strong>Cena:</strong> {{ chocolate.cena }} RSD</p>
                <p><strong>Vrsta:</strong> {{ chocolate.vrsta }}</p>
                <p><strong>Tip:</strong> {{ chocolate.tip }}</p>
                <p><strong>Gramaža:</strong> {{ chocolate.gramaza }}g</p>
                <p><strong>Količina:</strong> {{ chocolate.kolicina }}</p>
                <p><strong>Datum kupovine:</strong> {{ formatDate(purchase.datum_vreme) }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <p class="no-purchases">Nema dostupnih kupovina.</p>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, watchEffect } from 'vue';
import axios from 'axios';

const props = defineProps(['currentUser']);
const purchases = ref([]);
const filteredPurchases = ref([]);
const searchText = ref('');
const minPrice = ref(null);
const maxPrice = ref(null);
const startDate = ref(null);
const endDate = ref(null);
const sortBy = ref('fabrika_asc'); // Default sort by factory name ascending
const showCommentForm = ref(null);
const commentText = ref('');
const commentRating = ref(null);




onMounted(async () => {
  await fetchPurchases();
});

const fetchPurchases = async () => {
  try {
    const response = await axios.get('http://localhost:3000/api/purchases');
    purchases.value = response.data.filter(purchase => !purchase.obrisano); // Filtriranje logički obrisanih kupovina
    filterPurchases(); // Primena filtera nakon učitavanja podataka
  } catch (error) {
    console.error('Error fetching purchases:', error);
  }
};

// Dodajmo provjeru da li je currentUser Menadzer prije filter funkcije
const filterPurchases = () => {
  // Ako su svi filteri prazni, prikazi sve kupovine za ulogu
  if (searchText.value.trim() === '' && minPrice.value === null && maxPrice.value === null && startDate.value === null && endDate.value === null) {
    if (props.currentUser.uloga === 'Kupac') {
      filteredPurchases.value = purchases.value.filter(purchase => {
        return purchase.kupac === props.currentUser.korisnickoIme;
      });
    } else if (props.currentUser.uloga === 'Menadzer') {
      filteredPurchases.value = purchases.value.filter(purchase => {
        return purchase.fabrika === props.currentUser.fabrikaCokoladeObjekat;
      });
    }
  } else {
    filteredPurchases.value = purchases.value.filter(purchase => {
      // Filtriranje po nazivu fabrike (samo za Kupca)
      const factoryMatch = purchase.fabrika.toLowerCase().includes(searchText.value.toLowerCase());

      // Filtriranje po ceni (od-do)
      const priceMatch = (minPrice.value === null || purchase.cena >= minPrice.value) &&
                         (maxPrice.value === null || purchase.cena <= maxPrice.value);

      // Filtriranje po datumu kupovine (od-do)
      const dateMatch = (!startDate.value || new Date(purchase.datum_vreme) >= new Date(startDate.value)) &&
                        (!endDate.value || new Date(purchase.datum_vreme) <= new Date(endDate.value));

      // Provera za kupca ili menadžera
      const userMatch = (props.currentUser.uloga === 'Kupac' && purchase.kupac === props.currentUser.korisnickoIme) ||
                        (props.currentUser.uloga === 'Menadzer' && purchase.fabrika === props.currentUser.fabrikaCokoladeObjekat);

      return factoryMatch && priceMatch && dateMatch && userMatch;
    });
  }
};

const cancelPurchase = async (purchaseId) => {
  try {
    // Pronađi kupovinu koju treba otkazati
    const canceledPurchase = purchases.value.find(purchase => purchase.id === purchaseId);
    if (!canceledPurchase) {
      console.error('Purchase not found');
      return;
    }

    // Izračunaj izgubljene bodove
    const ukupnaCenaPorudzbine = canceledPurchase.cena;
    const brojIzgubljenihBodova = (ukupnaCenaPorudzbine / 1000) * 133 * 4;

    // Ažuriraj status kupovine na serveru
    const response = await axios.put(`http://localhost:3000/api/purchases/${purchaseId}`, { obrisano: true });
    if (response.status === 200) {
      // Ako je ažuriranje uspešno, ažuriraj lokalni state
      canceledPurchase.obrisano = true;
      fetchPurchases();

      // Preuzmi trenutne podatke o korisniku
     
        // Ažuriraj bodove korisnika
        const updatedBodovi = props.currentUser.brojSakupljenihBodova - brojIzgubljenihBodova;
        await axios.put(`http://localhost:3000/api/users/${props.currentUser.korisnickoIme}`, { brojSakupljenihBodova: updatedBodovi });

        // Opciono: ponovo primeni filtere nakon ažuriranja
      
    }
  } catch (error) {
    console.error('Error canceling purchase:', error);
  }
};



const searchPurchases = () => {
  filterPurchases();
};

const resetFilters = () => {
  searchText.value = '';
  minPrice.value = null;
  maxPrice.value = null;
  startDate.value = null;
  endDate.value = null;
  filterPurchases();
};

const formatDate = (dateTimeString) => {
  const date = new Date(dateTimeString);
  return date.toLocaleDateString('sr-RS', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    hour: 'numeric',
    minute: 'numeric'
  }); // Formatira datum kao "4. jul 2024. 13:03"
};

const updatePurchaseStatus = async (purchaseId, newStatus) => {
  try {
    const response = await axios.put(`http://localhost:3000/api/purchases/${purchaseId}`, { status: newStatus });
    if (response.status === 200) {
      // Ažuriraj status kupovine lokalno nakon uspešnog ažuriranja na serveru
      const purchase = purchases.value.find(p => p.id === purchaseId);
      if (purchase) {
        purchase.status = newStatus;
      }
      filterPurchases(); // Ponovo primeni filtere nakon ažuriranja
    }
  } catch (error) {
    console.error('Error updating purchase status:', error);
  }
};

// Watch for changes in sortBy and sort filteredPurchases accordingly
watchEffect(() => {
  switch (sortBy.value) {
    case 'fabrika_asc':
      filteredPurchases.value.sort((a, b) => a.fabrika.localeCompare(b.fabrika));
      break;
    case 'fabrika_desc':
      filteredPurchases.value.sort((a, b) => b.fabrika.localeCompare(a.fabrika));
      break;
    case 'cena_asc':
      filteredPurchases.value.sort((a, b) => a.cena - b.cena);
      break;
    case 'cena_desc':
      filteredPurchases.value.sort((a, b) => b.cena - a.cena);
      break;
    case 'datum_asc':
      filteredPurchases.value.sort((a, b) => new Date(a.datum_vreme) - new Date(b.datum_vreme));
      break;
    case 'datum_desc':
      filteredPurchases.value.sort((a, b) => new Date(b.datum_vreme) - new Date(a.datum_vreme));
      break;
    default:
      break;
  }
});
const leaveComment = (purchase) => {
  showCommentForm.value = purchase.id;
};

const submitComment = async (purchase) => {
  try {
    const commentData = {
      kupac: props.currentUser.korisnickoIme,
      fabrika: purchase.fabrika,
      tekst: commentText.value,
      ocena: commentRating.value,
      status: 'Obrada'
    };
    
    const response = await axios.post('http://localhost:3000/api/comments', commentData);
    console.log('Comment submitted:', response.data);
    
    // Reset values
    showCommentForm.value = null;
    commentText.value = '';
    commentRating.value = null;
    
    // Optionally refresh purchases list
    await fetchPurchases();
    filterPurchases();
  } catch (error) {
    console.error('Error submitting comment:', error);
  }
};


</script>


<style scoped>
.purchases-container {
  padding: 20px;
}
.red-button {
    font-size: 1rem;
    padding: 5px 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    margin-right: 5px;
  }
  
  .red-button:hover {
    background-color: darkred;
  }
.page-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lobster', sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  color: red;
  font-size: 40px;
  margin-right: 100px;
}

.purchase-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.purchase-card {
  width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #ffe4e1;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.filter-options{
  margin-left: 30px;
  font-size: 20px;
  color: white; 
}
.card-body {
  flex: 1;
  padding: 10px;
  color: darkred;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: darkred;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.chocolates-container {
  margin-top: 10px;
}

.chocolate-card {
  display: flex;
  margin-top: 10px;
  background-color: #fff;
  border: 2px solid #ff6666;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.chocolate-card:hover {
  transform: scale(1.02);
}

.card-details {
  flex: 1;
  padding: 15px;
}

.chocolate-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: darkred;
  margin-bottom: 8px;
}

.chocolate-image {
  margin-bottom: 10px;
}

.fixed-image {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}
.comment-form {
  margin-top: 10px;
}

.comment-form label {
  font-weight: bold;
}

.comment-form textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  margin-top: 5px;
}

.comment-form input {
  width: 50px;
  margin-top: 5px;
}


.no-purchases {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  color: darkred;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.search-container input,
.search-container button {
  margin-top: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
}
</style>
