<template>
  <div class="container">
    <h2>Registracija korisnika</h2>
    <form @submit.prevent="registerUser" class="register-form">
      <div class="form-group">
        <label for="username">Korisničko ime:</label>
        <input type="text" class="form-control" id="username" v-model="username" required />
      </div>
      <div class="form-group">
        <label for="password">Lozinka:</label>
        <input type="password" class="form-control" id="password" v-model="password" required />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Potvrdi lozinku:</label>
        <input type="password" class="form-control" id="confirmPassword" v-model="confirmPassword" required />
      </div>
      <div class="form-group">
        <label for="firstName">Ime:</label>
        <input type="text" class="form-control" id="firstName" v-model="firstName" required />
      </div>
      <div class="form-group">
        <label for="lastName">Prezime:</label>
        <input type="text" class="form-control" id="lastName" v-model="lastName" required />
      </div>
      <div class="form-group">
        <label>Pol:</label><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="male" value="Muški" v-model="gender" required />
          <label class="form-check-label" for="male">Muški</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="female" value="Ženski" v-model="gender" required />
          <label class="form-check-label" for="female">Ženski</label>
        </div>
      </div>
      <div class="form-group">
        <label for="birthdate">Datum rođenja:</label>
        <input type="date" class="form-control" id="birthdate" v-model="birthdate" required />
      </div>
      <button type="submit" class="btn btn-primary">Registruj se</button>
    </form>
    <div v-if="error" class="alert alert-danger mt-3">{{ error }}</div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';

const username = ref('');
const password = ref('');
const confirmPassword = ref('');
const firstName = ref('');
const lastName = ref('');
const gender = ref('Muški');
const birthdate = ref('');
const error = ref('');
const router = useRouter();

const registerUser = async () => {
  if (password.value !== confirmPassword.value) {
    error.value = 'Lozinke se ne podudaraju!';
    return;
  }

  try {
    const newUser = {
      username: username.value,
      password: password.value,
      firstName: firstName.value,
      lastName: lastName.value,
      gender: gender.value,
      birthdate: birthdate.value,
      role: "Kupac"
    };

    const response = await axios.post('http://localhost:3000/api/users/register', newUser);
    const { token, user } = response.data;
    localStorage.setItem('token', token);
    localStorage.setItem('currentUser', JSON.stringify(user));

    if (user.uloga === 'Administrator') {
      router.push('/admin-dashboard');
    } else if (user.uloga === 'Menadzer') {
      router.push('/manager-dashboard');
    } else if (user.uloga === 'Kupac'){
      router.push('/customer-dashboard');
    }
    
  } catch (err) {
    error.value = err.response ? err.response.data.message : 'Došlo je do greške';
  }
};
</script>

<style scoped>
.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: gold;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Lobster;
  font-size: 50px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 3px solid #ccc;
  border-color: darkred;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}

.alert {
  margin-top: 20px;
  background-color: darkred;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
</style>
