<template>
  <div class="profile-container">
    <h2>Korisnički profil</h2>
    <div v-if="user" class="card profile-card">
      <div class="card-body">
        <div>
          <h3 class="card-title">{{ user.ime }} {{ user.prezime }}</h3>
          <p class="card-text"><strong>Korisničko ime:</strong> {{ user.korisnickoIme }}</p>
          <p class="card-text"><strong>Pol:</strong> {{ user.pol }}</p>
          <p class="card-text"><strong>Datum rođenja:</strong> {{ formatDate(user.datumRodjenja) }}</p>
          <p class="card-text"><strong>Uloga:</strong> {{ user.uloga }}</p>
          <p v-if="user.uloga === 'Menadzer'" class="card-text"><strong>Fabrika cokolade:</strong> {{ user.fabrikaCokoladeObjekat }}</p>
          <p v-if="user.uloga === 'Kupac'" class="card-text"><strong>Broj sakupljenih bodova:</strong> {{ user.brojSakupljenihBodova }}</p>
        </div>
        <button v-if="!editMode" @click="enableEditMode" class="edit-button">Izmeni podatke</button>
        <form v-if="editMode" @submit.prevent="updateUser">
          <div class="form-group">
            <label for="ime">Ime</label>
            <input type="text" id="ime" v-model="editedUser.ime" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="prezime">Prezime</label>
            <input type="text" id="prezime" v-model="editedUser.prezime" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="korisnickoIme">Korisničko ime</label>
            <input type="text" id="korisnickoIme" v-model="editedUser.korisnickoIme" class="form-control" readonly />
          </div>
          <div class="form-group">
            <label for="pol">Pol</label>
            <select id="pol" v-model="editedUser.pol" class="form-control" required>
              <option value="Muški">Muški</option>
              <option value="Ženski">Ženski</option>
            </select>
          </div>
          <div class="form-group">
            <label for="datumRodjenja">Datum rođenja</label>
            <input type="date" id="datumRodjenja" v-model="editedUser.datumRodjenja" class="form-control" required />
          </div>
          <button type="submit" class="edit-button">Potvrdi izmenu</button>
          <button type="button" @click="cancelEdit" class="edit-button">Odustani</button>
        </form>
      </div>
    </div>
    <div v-if="user && user.uloga === 'Menadzer'" class="chocolate-factory-card">
      <h3>Fabrika čokolade</h3>
      <div class="card profile-card">
        <div class="card-body">
          <h3 class="card-title">{{ chocolateFactory.naziv }}</h3>
          <p class="card-text"><strong>Adresa:</strong> {{ chocolateFactory.lokacija.adresa }}</p>
          <p class="card-text"><strong>Ocena:</strong> {{ chocolateFactory.ocena }}</p>
          <p class="card-text"><strong>Radno vreme:</strong> {{ chocolateFactory.radnoVreme }}</p>
          <div class="card-img-container">
            <img :src="chocolateFactory.logo" class="card-img-top" alt="Factory Logo">
          </div>
          <!-- Add more fields as needed -->
        </div>
      </div>
      <h3>Kupovine</h3>
      <div v-if="purchases.length > 0">
        <div v-for="purchase in filteredPurchases" :key="purchase.id" class="card purchase-card">
          <div class="card-body">
            <h3 class="card-title">Kupovina ID: {{ purchase.id }}</h3>
            <p class="card-text"><strong>Datum i vreme:</strong> {{ formatDate(purchase.datum_vreme) }}</p>
            <p class="card-text"><strong>Fabrika:</strong> {{ purchase.fabrika }}</p>
            <p class="card-text"><strong>Cena:</strong> {{ purchase.cena }} RSD</p>
            <p class="card-text"><strong>Status:</strong> {{ purchase.status }}</p>
            <div>
              <h4>Čokolade:</h4>
              <ul>
                <li v-for="cokolada in purchase.cokolade" :key="cokolada.id">
                  {{ cokolada.naziv }} - {{ cokolada.kolicina }} komada
                </li>
              </ul>
            </div>
            <!-- Displaying customer card within purchase card -->
            <div v-if="purchase.kupacObjekat" class="card customer-card">
              <div class="card-body">
                <h3 class="card-title">Kupac: {{ purchase.kupacObjekat.ime }} {{ purchase.kupacObjekat.prezime }}</h3>
                <p class="card-text"><strong>Korisničko ime:</strong> {{ purchase.kupacObjekat.korisnickoIme }}</p>
                <p class="card-text"><strong>Pol:</strong> {{ purchase.kupacObjekat.pol }}</p>
                <p class="card-text"><strong>Datum rođenja:</strong> {{ formatDate(purchase.kupacObjekat.datumRodjenja) }}</p>
                <p class="card-text"><strong>Broj sakupljenih bodova:</strong> {{ purchase.kupacObjekat.brojSakupljenihBodova }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <p>Nema kupovina za prikaz.</p>
      </div>
    </div>
    <div v-else class="alert alert-info" role="alert">
    </div>
    <button v-if="currentUser && currentUser.uloga === 'Administrator'" @click="viewAllUsers" class="svi-korisnici-button">Svi korisnici</button>
  </div>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';

const router = useRouter();

const user = ref(null);
const chocolateFactory = ref(null);
const purchases = ref([]); // Add ref for purchases
const editedUser = ref(null); // Add editedUser ref for form editing
const currentUser = JSON.parse(localStorage.getItem('currentUser'));
const editMode = ref(false);

onMounted(async () => {
  await fetchUser();
  if (user.value && user.value.uloga === 'Menadzer') {
    await fetchChocolateFactory(user.value.fabrikaCokoladeObjekat);
    await fetchPurchases(); // Fetch purchases if user is manager
  }
});

const fetchUser = async () => {
  try {
    const response = await axios.get(`http://localhost:3000/api/users/${currentUser.korisnickoIme}`);
    user.value = response.data;
    // Clone user object for editing
    editedUser.value = { ...response.data };
  } catch (error) {
    console.error('Error fetching user data:', error);
  }
};

const fetchChocolateFactory = async (fabrikaCokoladeObjekat) => {
  try {
    const response = await axios.get(`http://localhost:3000/api/chocolateFactories/name/${fabrikaCokoladeObjekat}`);
    chocolateFactory.value = response.data;
  } catch (error) {
    console.error('Error fetching chocolate factory data:', error);
  }
};

const fetchPurchases = async () => {
  try {
    const response = await axios.get('http://localhost:3000/api/purchases');
    purchases.value = response.data;

    // Fetch customer data for each purchase
    for (const purchase of purchases.value) {
      const kupacResponse = await axios.get(`http://localhost:3000/api/users/${purchase.kupac}`);
      purchase.kupacObjekat = kupacResponse.data;
    }
  } catch (error) {
    console.error('Error fetching purchases:', error);
  }
};

const updateUser = async () => {
  try {
    await axios.put(`http://localhost:3000/api/users/${editedUser.value.korisnickoIme}`, editedUser.value);
    editMode.value = false;
    await fetchUser(); // Refresh user data after update
  } catch (error) {
    console.error('Error updating user data:', error);
  }
};

const cancelEdit = () => {
  editMode.value = false;
  // Reset editedUser to original user data
  editedUser.value = { ...user.value };
};

const enableEditMode = () => {
  editMode.value = true;
};

const formatDate = (dateString) => {
  const options = { year: 'numeric', month: 'short', day: 'numeric' };
  return new Date(dateString).toLocaleDateString('sr-RS', options);
};

const viewAllUsers = () => {
  router.push('/all-users');
};

const filteredPurchases = computed(() => {
  return purchases.value.filter(purchase => purchase.fabrika === chocolateFactory.value.naziv);
});
</script>

<style scoped>
.profile-container {
  padding: 20px;
  background-color: gold;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  color: white;
  width: 200vh;
}

.card-img-container {
  flex: 0 1 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-text {
  font-size: 20px;
  
}

h2, h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lobster', sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: darkred;
}

.card {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
}

.card-body {
  padding: 20px;
  color: black;
}

.edit-button {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.edit-button:hover {
  background-color: darkred;
}

.purchase-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
}

.svi-korisnici-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.svi-korisnici-button:hover {
  background-color: darkred;
}

.alert {
  margin-top: 20px;
}

.chocolate-factory-card {
  margin-top: 40px;
}
</style>
