<template>
  <div class="add-factory-container">
    <h2>Dodaj novu fabriku čokolade</h2>
    <form @submit.prevent="addFactory">
      <div class="form-group">
        <label for="naziv">Naziv:</label>
        <input type="text" id="naziv" v-model="factory.naziv" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="lokacija">Lokacija:</label>
        <input type="text" id="lokacija" v-model="factory.lokacija" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="radnoVreme">Radno vreme:</label>
        <input type="text" id="radnoVreme" v-model="factory.radnoVreme" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="logo">Logo:</label>
        <input type="file" id="logo" @change="handleFileUpload" class="form-control">
        <img v-if="factory.logo" :src="factory.logo" alt="Logo fabrike" class="logo-preview">
      </div>
      <div class="form-group">
        <label for="menadzer">Menadžer:</label>
        <select id="menadzer" v-model="selectedManager" class="form-control" required v-if="managers.length">
          <option v-for="manager in managers" :key="manager.korisnickoIme" :value="manager.korisnickoIme">{{ manager.korisnickoIme }}</option>
        </select>
        <button v-else type="button" @click="registerManager" class="btn btn-secondary">Registruj menadžera</button>
      </div>
      <button type="submit" class="btn btn-primary">Dodaj fabriku</button>
    </form>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { useRoute, useRouter } from 'vue-router';

const router = useRouter();
const factory = ref({
  naziv: '',
  lokacija: '',
  radnoVreme: '',
  logo: '', 
});

const managers = ref([]);
const selectedManager = ref('');

const getManagers = async () => {
  try {
    const response = await axios.get('http://localhost:3000/api/users');
    managers.value = response.data.filter(user => user.uloga === 'Menadzer' && user.fabrikaCokoladeObjekat === null);
  } catch (error) {
    console.error('Error fetching managers:', error);
  }
};

const registerManager = () => {
  router.push({ name: 'register-manager' });
};

const handleFileUpload = async (event) => {
  const file = event.target.files[0];
  const formData = new FormData();
  formData.append('image', file);

  try {
    const response = await axios.post('http://localhost:3000/api/upload', formData, {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
    });
    factory.value.logo = response.data.imageUrl;
  } catch (error) {
    console.error('Error uploading image:', error);
  }
};

onMounted(getManagers);

const addFactory = async () => {
  try {
    // Kreiraj novu fabriku
    const newFactory = {
      naziv: factory.value.naziv,
      lokacija: { adresa: factory.value.lokacija },
      radnoVreme: factory.value.radnoVreme,
      logo: factory.value.logo, // Logo sada dobija vrijednost iz input polja
      ocena: 0,
      status: 'Ne radi',
      cokolade: [],
    };

    // Pošalji zahtjev za dodavanje fabrike
    const response = await axios.post('http://localhost:3000/api/chocolateFactories', newFactory);

    // Ažuriraj menadžera ako je odabran
    if (selectedManager.value) {
      const manager = managers.value.find(mgr => mgr.korisnickoIme === selectedManager.value);
      manager.fabrikaCokoladeObjekat = newFactory.naziv;
      await axios.put(`http://localhost:3000/api/users/${manager.korisnickoIme}`, manager);
    }

    alert('Fabrika uspešno dodata!');
    // Resetuj formu
    router.push(`/admin-dashboard`);
    factory.value = {
      naziv: '',
      lokacija: '',
      radnoVreme: '',
      logo: '',
    };
    selectedManager.value = '';
  } catch (error) {
    console.error('Error adding factory:', error);
  }
};
</script>

<style scoped>
.add-factory-container {
  padding: 20px;
  background-color: gold;
  border-radius: 10px;
  color: white;
  border: 2px solid white;
}

h2 {
  color: darkred;
}

.logo-preview{
  height: 200px;
  width: 400px;
  margin-top: 10px;
  
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-group input, .form-group select {
  border: 3px solid darkred;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

button {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

button:hover {
  background-color: red;
}
</style>
