<template>
    <div id="app" class="golden-bg">
      <header class="header">
        <div class="wrapper">
          <h1 class="title">Fabrike čokolada</h1>
        </div>
        <button class="register-button" @click="goToMainPage">Odjavi se</button>
        <button class="register-button" @click="goToAddFactoryForm">Dodaj fabriku</button>
        <button class="register-button" @click="goToUserProfile">Moj profil</button>

      </header>
  
      <main>
        <Factories />
      </main>
    </div>
  </template>
  
  <script setup>
  import Factories from '/src/components/Factories.vue';
  import { useRouter } from 'vue-router';
  
  const router = useRouter();
  
  const goToRegisterPage = () => {
    router.push({ name: 'register' });
  };

  const goToUserProfile = () => {
    router.push({ name: 'user-profile' });
  };
  
  const goToMainPage = () => {
    router.push({ name: 'home' });
  };
  const goToAddFactoryForm = () => {
    router.push({ name: 'add-factory' });
  };
  </script>
  
  <style scoped>
  body, #app {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
  }
  
  #app {
    width: 100vw; /* Set width to 100% of the viewport width */
    height: auto; /* Set height to 100% of the viewport height */
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Align items vertically */
  }
  
  header {
    display: flex;
    justify-content: space-between; /* Space between title and button */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width */
    padding: 20px; /* Add padding */
    background-color: gold; /* Set background color */
  }
  
  .wrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex: 1; /* Allow header content to grow and fill remaining space */
  }
  
  .title {
    font-size: 5rem; /* Increase font size */
    margin: 0;
    font-family: 'Lobster', cursive; /* Apply fancy font */
    color: red; /* Set text color to red */
    padding: 10px 20px; /* Add padding around the text */
    background-color: white; /* Set background color to white */
    border-radius: 10px; /* Optional: Add rounded corners */
  }
  
  .register-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    margin-right: 5px;
  }
  
  .register-button:hover {
    background-color: darkred;
  }
  
  main {
    flex: 1; /* Allow main content to grow and fill remaining space */
    overflow-y: auto; /* Enable scrolling if content overflows vertically */
  }
  
  .golden-dark {
    background-color: gold; /* Set background color to gold */
  }
  
  .golden-bg {
    height: auto;
    background-color: gold; /* Set background color to gold */
  }
  </style>
  