<template>
  <div class="all-users-container">
    <h2>Svi registrovani korisnici</h2>

    <!-- Search Bar -->
    <div class="search-bar">
      <input type="text" v-model="searchText" placeholder="Pretraži korisnike">
      <button @click="searchUsers" class="btn btn-primary">Pretraži</button>
      <button @click="resetFilters" class="btn btn-secondary mt-2">Resetuj filter</button>

    </div>

    <!-- Sort Controls -->
    <div class="sort-controls">
      <label for="sort-select">Sortiraj po:</label>
      <select id="sort-select" v-model="sortBy" @change="sortUsers">
        <option value="ime_asc">Ime (rastuće)</option>
        <option value="ime_desc">Ime (opadajuće)</option>
        <option value="prezime_asc">Prezime (rastuće)</option>
        <option value="prezime_desc">Prezime (opadajuće)</option>
        <option value="korisnickoIme_asc">Korisničko ime (rastuće)</option>
        <option value="korisnickoIme_desc">Korisničko ime (opadajuće)</option>
        <option value="brojSakupljenihBodova_asc">Broj bodova (rastuće)</option>
        <option value="brojSakupljenihBodova_desc">Broj bodova (opadajuće)</option>
      </select>
    </div>

    <!-- Filter Controls -->
    <div class="filter-controls">
      <label for="role-select">Filtriraj po ulozi:</label>
      <select id="role-select" v-model="selectedRole" @change="filterUsers">
        <option value="">Sve uloge</option>
        <option value="Administrator">Administrator</option>
        <option value="Menadzer">Menadžer</option>
        <option value="Kupac">Kupac</option>
        <option value="Radnik">Radnik</option>

      </select>
      
      <label for="user-type-select">Filtriraj po tipu korisnika:</label>
      <select id="user-type-select" v-model="selectedUserType" @change="filterUsers">
        <option value="">Svi tipovi korisnika</option>
        <option value="Regularan">Regularan</option>
        <option value="VIP">VIP</option>
      </select>
    </div>

    <div v-if="filteredUsers.length > 0">
      <div v-for="user in filteredUsers" :key="user.id" class="card profile-card mb-3">
        <div class="card-body">
          <h3 class="card-title">{{ user.ime }} {{ user.prezime }}</h3>
          <p class="card-text"><strong>Korisničko ime:</strong> {{ user.korisnickoIme }}</p>
          <p class="card-text"><strong>Pol:</strong> {{ user.pol }}</p>
          <p class="card-text"><strong>Datum rođenja:</strong> {{ formatDate(user.datumRodjenja) }}</p>
          <p class="card-text"><strong>Uloga:</strong> {{ user.uloga }}</p>
          <p v-if="user.uloga === 'Menadzer'" class="card-text"><strong>Fabrika cokolade:</strong> {{ user.fabrikaCokoladeObjekat }}</p>
          <p class="card-text"><strong>Broj sakupljenih bodova:</strong> {{ user.brojSakupljenihBodova }}</p>
        </div>
      </div>
    </div>

    <div v-else-if="searchText.length > 0" class="alert alert-info" role="alert">
      Nema korisnika koji odgovaraju pretrazi.
    </div>

    <div v-else class="alert alert-info" role="alert">
      Trenutno nema korisnika.
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, watch } from 'vue';
import axios from 'axios';

const users = ref([]);
const filteredUsers = ref([]);
const searchText = ref('');
const sortBy = ref('ime_asc'); // Default sort by name ascending
const selectedRole = ref('');
const selectedUserType = ref('');

onMounted(async () => {
  await fetchAllUsers();
});

const fetchAllUsers = async () => {
  try {
    const response = await axios.get('http://localhost:3000/api/users');
    users.value = response.data;
    filteredUsers.value = response.data; // Show all users initially
  } catch (error) {
    console.error('Error fetching users:', error);
  }
};
const resetFilters = () => {
  searchText.value = '';
  selectedRole.value = '';
  filterPurchases();
};
const formatDate = (dateString) => {
  const options = { year: 'numeric', month: 'long', day: 'numeric' };
  return new Date(dateString).toLocaleDateString(undefined, options);
};

const searchUsers = () => {
  if (!searchText.value.trim()) {
    filteredUsers.value = users.value; // Show all users if search text is empty
    return;
  }

  const searchTerm = searchText.value.toLowerCase().trim();
  filteredUsers.value = users.value.filter(user =>
    user.ime.toLowerCase().includes(searchTerm) ||
    user.prezime.toLowerCase().includes(searchTerm) ||
    user.korisnickoIme.toLowerCase().includes(searchTerm)
  );
};

const filterUsers = () => {
  filteredUsers.value = users.value.filter(user => {
    let roleMatch = true;
    let userTypeMatch = true;

    if (selectedRole.value && user.uloga !== selectedRole.value) {
      roleMatch = false;
    }
    
    if (selectedUserType.value && user.tipKorisnika !== selectedUserType.value) {
      userTypeMatch = false;
    }

    return roleMatch && userTypeMatch;
  });
};

watch([selectedRole, selectedUserType], filterUsers);

const sortUsers = () => {
  switch (sortBy.value) {
    case 'ime_asc':
      filteredUsers.value.sort((a, b) => a.ime.localeCompare(b.ime));
      break;
    case 'ime_desc':
      filteredUsers.value.sort((a, b) => b.ime.localeCompare(a.ime));
      break;
    case 'prezime_asc':
      filteredUsers.value.sort((a, b) => a.prezime.localeCompare(b.prezime));
      break;
    case 'prezime_desc':
      filteredUsers.value.sort((a, b) => b.prezime.localeCompare(a.prezime));
      break;
    case 'korisnickoIme_asc':
      filteredUsers.value.sort((a, b) => a.korisnickoIme.localeCompare(b.korisnickoIme));
      break;
    case 'korisnickoIme_desc':
      filteredUsers.value.sort((a, b) => b.korisnickoIme.localeCompare(a.korisnickoIme));
      break;
    case 'brojSakupljenihBodova_asc':
      filteredUsers.value.sort((a, b) => a.brojSakupljenihBodova - b.brojSakupljenihBodova);
      break;
    case 'brojSakupljenihBodova_desc':
      filteredUsers.value.sort((a, b) => b.brojSakupljenihBodova - a.brojSakupljenihBodova);
      break;
    default:
      break;
  }
};
watch(sortBy, sortUsers);

</script>

<style scoped>
.all-users-container {
  padding: 20px;
  background-color: gold;
  min-height: 100vh;
  text-align: center;
  width: 200vh;
}

h2 {
  margin-bottom: 20px;
  font-family: 'Lobster', sans-serif;
  font-size: 50px;
  text-shadow: 1px 1px 3px darkred;
  color: white;
}

.card {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease;
  width: 100vh;
  margin: 20px auto;
}

.card:hover {
  transform: scale(1.02);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: darkred;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: bold;
  color: red;
}

.alert-info {
  background-color: white;
  color: darkred;
  border: 2px solid darkred;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.sort-controls {
  margin-bottom: 20px;
}

.filter-controls {
  margin-bottom: 20px;
}

</style>
