<template>
    <div class="container">
      <h2>Registracija Menadžera</h2>
      <form @submit.prevent="registerUser" class="register-form">
        <div class="form-group">
          <label for="username">Korisničko ime:</label>
          <input type="text" class="form-control" id="username" v-model="username" required>
        </div>
        <div class="form-group">
          <label for="password">Lozinka:</label>
          <input type="password" class="form-control" id="password" v-model="password" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Potvrdi lozinku:</label>
          <input type="password" class="form-control" id="confirmPassword" v-model="confirmPassword" required>
        </div>
        <div class="form-group">
          <label for="firstName">Ime:</label>
          <input type="text" class="form-control" id="firstName" v-model="firstName" required>
        </div>
        <div class="form-group">
          <label for="lastName">Prezime:</label>
          <input type="text" class="form-control" id="lastName" v-model="lastName" required>
        </div>
        <div class="form-group">
          <label>Pol:</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="male" value="Muški" v-model="gender" required>
            <label class="form-check-label" for="male">Muški</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="female" value="Ženski" v-model="gender" required>
            <label class="form-check-label" for="female">Ženski</label>
          </div>
        </div>
        <div class="form-group">
          <label for="birthdate">Datum rođenja:</label>
          <input type="date" class="form-control" id="birthdate" v-model="birthdate" required>
        </div>
        <button type="submit" class="btn btn-primary">Registruj se</button>
      </form>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  import { useRouter } from 'vue-router';
  
  export default {
    data() {
      return {
        username: '',
        password: '',
        confirmPassword: '',
        firstName: '',
        lastName: '',
        gender: 'Muški',
        birthdate: ''
      };
    },
    setup() {
      const router = useRouter();
  
      return {
        router
      };
    },
    methods: {
      async registerUser() {
        if (this.password !== this.confirmPassword) {
          alert('Lozinke se ne podudaraju!');
          return;
        }
  
        try {
          const newUser = {
            korisnickoIme: this.username,
            lozinka: this.password,
            ime: this.firstName,
            prezime: this.lastName,
            pol: this.gender,
            datumRodjenja: this.birthdate,
            uloga: 'Menadzer',  // Postavljanje uloge na "Menadzer"
            sveKupovine: [],
            korpa: [],
            fabrikaCokoladeObjekat: null,
            brojSakupljenihBodova: 0,
            tipKupca: null
          };
  
          await axios.post('http://localhost:3000/api/users', newUser);
          alert('Uspešno ste registrovali menadzera!');
          // Redirekcija na stranicu za dodavanje fabrike
          this.router.push({ name: 'add-factory' });
        } catch (error) {
          console.error('Error registering user:', error);
          alert('Došlo je do greške prilikom registracije.');
        }
      }
    }
  };
  </script>
  
  <style scoped>
  .container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: gold;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Lobster;
    font-size: 50px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 3px solid #ccc;
    border-color: darkred;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: red;
  }
  </style>
  