<template>
  <div id="app" class="golden-bg">
    <header class="header">
      <div class="wrapper">
        <h1 class="title">Fabrike čokolada</h1>
      </div>
      <button class="register-button" @click="goToMainPage">Odjavi se</button>
      <button class="register-button" @click="goToPurchasesPage">Kupovine za moju fabriku</button>
      <button class="register-button" @click="goToUserProfile">Moj profil</button>

    </header>

    <main>
      <Factories :currentUser="currentUser" />
    </main>
  </div>
</template>

<script setup>
import Factories from '/src/components/Factories.vue';
import axios from 'axios';
import { ref, onMounted } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const currentUser = JSON.parse(localStorage.getItem('currentUser'));
const factories = ref([]);
const selectedFactory = ref(null);

const goToMainPage = () => {
  localStorage.removeItem('token');
  localStorage.removeItem('currentUser');
  router.push({ name: 'home' });
};

const goToPurchasesPage = () => {
    router.push({ name: 'manager-purchases' });
  };

  const goToUserProfile = () => {
    router.push({ name: 'user-profile' });
  };

onMounted(async () => {
  try {
    const response = await axios.get('http://localhost:3000/api/chocolateFactories');
    factories.value = response.data;
    selectFactoryByManager();
  } catch (error) {
    console.error('Error fetching factories:', error);
  }
});

const selectFactoryByManager = () => {
  if (currentUser && currentUser.fabrikaCokoladeObjekat) {
    selectedFactory.value = factories.value.find(factory => factory.naziv === currentUser.fabrikaCokoladeObjekat);
  }
};
</script>

<style scoped>
body, #app {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
  }
  #app {
    width: 100vw; /* Set width to 100% of the viewport width */
    height: auto; /* Set height to 100% of the viewport height */
    display: flex; /* Use flexbox to align items */
    flex-direction: column; /* Align items vertically */
  }
header {
    display: flex;
    justify-content: space-between; /* Space between title and button */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width */
    padding: 20px; /* Add padding */
    background-color: gold; /* Set background color */
  }
  
  .wrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex: 1; /* Allow header content to grow and fill remaining space */
  }
  
  .title {
    font-size: 5rem; /* Increase font size */
    margin: 0;
    font-family: 'Lobster', cursive; /* Apply fancy font */
    color: red; /* Set text color to red */
    padding: 10px 20px; /* Add padding around the text */
    background-color: white; /* Set background color to white */
    border-radius: 10px; /* Optional: Add rounded corners */
  }

  .register-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    margin-right: 5px;
  }
  
  .register-button:hover {
    background-color: darkred;
  }

.card {
  position: relative;
  transition: transform 0.3s ease;
  background-color: #6F4E37;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-container {
  flex: 0 1 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  flex: 1;
  padding: 2px;
  max-height: 100px;
  overflow: hidden;
}

.factory-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-title {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.card-text {
  font-size: 1rem;
  color: white;
  margin: 0;
}

.list-group-item {
  border: none;
}

.alert {
  margin-top: 1rem;
}

.center-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.factory-card {
  width: 750px;
  height: 450px;
  margin: 10px;
}

.factory-info h5 {
  margin-bottom: 0;
}

.factory-info .btn {
  margin-top: 10px;
}

.router-link-bottom-right,
.comments-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.comments-button {
  left: auto;
  right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments-button:hover {
  background-color: darkblue;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar input[type="text"] {
  margin-right: 10px;
}

.navbar button {
  margin-left: 10px;
}
</style>
