<template>
  <div class="container">
    <h2>Registracija Radnika</h2>
    <form @submit.prevent="registerUser" class="register-form">
      <div class="form-group">
        <label for="username">Korisničko ime:</label>
        <input type="text" class="form-control" id="username" v-model="userData.username" required>
      </div>
      <div class="form-group">
        <label for="password">Lozinka:</label>
        <input type="password" class="form-control" id="password" v-model="userData.password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Potvrdi lozinku:</label>
        <input type="password" class="form-control" id="confirmPassword" v-model="confirmPassword" required>
      </div>
      <div class="form-group">
        <label for="firstName">Ime:</label>
        <input type="text" class="form-control" id="firstName" v-model="userData.firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Prezime:</label>
        <input type="text" class="form-control" id="lastName" v-model="userData.lastName" required>
      </div>
      <div class="form-group">
        <label>Pol:</label><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="male" value="Muški" v-model="userData.gender" required>
          <label class="form-check-label" for="male">Muški</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="female" value="Ženski" v-model="userData.gender" required>
          <label class="form-check-label" for="female">Ženski</label>
        </div>
      </div>
      <div class="form-group">
        <label for="birthdate">Datum rođenja:</label>
        <input type="date" class="form-control" id="birthdate" v-model="userData.birthdate" required>
      </div>
      <input type="hidden" v-model="userData.factoryName">
      <button type="submit" class="btn btn-primary">Registruj se</button>
    </form>
  </div>
</template>

<script setup>
import axios from 'axios';
import { ref } from 'vue';
import { useRouter, useRoute } from 'vue-router';

const route = useRoute();
const factoryName = route.params.factoryName;

const userData = ref({
  username: '',
  password: '',
  firstName: '',
  lastName: '',
  gender: 'Muški',
  birthdate: '',
  factoryName: factoryName,
});

const confirmPassword = ref('');

const router = useRouter();

const registerUser = async () => {
  if (userData.value.password !== confirmPassword.value) {
    alert('Lozinke se ne podudaraju!');
    return;
  }

  try {
    const newUser = {
      korisnickoIme: userData.value.username,
            lozinka: userData.value.password,
            ime: userData.value.firstName,
            prezime: userData.value.lastName,
            pol: userData.value.gender,
            datumRodjenja: userData.value.birthdate,
            uloga: 'Radnik',  // Postavljanje uloge na "Menadzer"
            sveKupovine: [],
            korpa: [],
            fabrikaCokoladeObjekat: factoryName,
            brojSakupljenihBodova: 0,
            tipKupca: null
    };

    await axios.post('http://localhost:3000/api/users', newUser);
    alert('Uspešno ste registrovali radnika!');
    // Redirekcija na stranicu za dodavanje fabrike
    router.push({ name: 'ManagerDashboard' });
  } catch (error) {
    console.error('Error registering user:', error);
    alert('Došlo je do greške prilikom registracije.');
  }
};
</script>

<style scoped>
.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: gold;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  border: 2px solid white;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Lobster;
  font-size: 50px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 3px solid #ccc;
  border-color: darkred;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}
</style>
